.main-area .music-list-area{
    position: absolute;
    left: 0;
    height: 87vh;
    width: 28vw;
    background-color: cadetblue;
    overflow-y: auto;
    overflow-x: hidden;
    transition-duration: 2s;
}

.main-area .music-list-area-hidden{
    position: absolute;
    left: 0;
    height: 100%;
    width: 28vw;
    background-color: cadetblue;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition-duration: 2s;
}

.main-area .music-list-area-long{
    position: absolute;
    left: 0;
    height: 100%;
    width: 28vw;
    background-color: cadetblue;
    overflow-y: auto;
    overflow-x: hidden;
    transition-duration: 2s;
}

/* id为奇数的音乐 */
.single-music-odd{
    position: relative;
    display: inline-block;
    height: 40px;
    width: 80%;
    left: 5%;
    border: none;
    background-color: white;
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的内容 */
    text-overflow: ellipsis; /* 显示省略号 */
}
.single-music-odd:hover{
    background-color: #dddddd;
}
.single-music-odd:active{
    background-color: #bbbbbb;
}

/* id为偶数的音乐 */
.single-music-even{
    position: relative;
    display: inline-block;
    height: 40px;
    width: 80%;
    left: 5%;
    border: none;
    background-color: #eeeeee;
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的内容 */
    text-overflow: ellipsis; /* 显示省略号 */
}
.single-music-even:hover{
    background-color: #dddddd;
}
.single-music-even:active{
    background-color: #bbbbbb;
}

/* 减少权重按钮 */
.decrease-weight-bt{
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 5%;
    right: 15%;
    border: none;
    background-color: #eeeeee;
}
.decrease-weight-bt:hover{
    background-color: #dddddd;
}
.decrease-weight-bt:active{
    background-color: #bbbbbb;
}
/* 增加权重按钮 */
.increase-weight-bt{
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 5%;
    right: 5%;
    border: none;
    background-color: #eeeeee;
}
.increase-weight-bt:hover{
    background-color: #dddddd;
}
.increase-weight-bt:active{
    background-color: #bbbbbb;
}
/* 显示权重按钮 */
.show-weight-bt{
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 5%;
    right: 10%;
    border: none;
    background-color: #eeeeee;
}



/* 音乐列表上方的空区域 */
.top-vacant-area{
    position: relative;
    height: 7.2%;
    width: 100%;
    background-color: cadetblue;
}

.search-area{
    position: fixed;
    height: 6%;
    width: 26.8vw;
    background-color: cadetblue;
    z-index: 1;
    padding: 0;
}

.search-area .search-input{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 70%;
    height: 50%;
    margin: 0;
    border: none;
}

.search-area .search-icon{
    position: absolute;
    left: 78%;
    top: 28%;
    background: none;
    background-image: url(../image/search_icon.png);
    background-repeat: no-repeat;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
    border: none;
}
.search-area .search-icon:active{
    background-image: url(../image/search_icon_pressed.png);
}


.search-area .save-weight-bt{
    position: absolute;
    left: 90%;
    top: 28%;
    background: none;
    background-image: url(../image/save_weight.png);
    background-repeat: no-repeat;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
    border: none;
}
.search-area .save-weight-bt:active{
    background-image: url(../image/save_weight_pressed.png);
}












